<%= form_for(@list) do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :group_id %>
    <%= f.text_field :group_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
