<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @list.amount %>
</p>

<p>
  <strong>Group:</strong>
  <%= @list.group %>
</p>
<%= link_to 'Back', groups_path %>
