<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @list.body %>
</p>

<p>
  <strong>Group:</strong>
  <%= @list.group %>
</p>
<%= link_to 'Back', groups_path %>
