<% if user_signed_in?%>

  <p id="notice"><%= notice %></p>

<h1>Groups</h1>


    <ul class="list-group" >
    <% @groups.each do |group|%>
        <li class="list-group-item center">
          <p class="text-primary"><%= group.name %></p>
          <button class="btn btn-info"><%= link_to 'Show ', group %></button>
          <% if group.created_by == @user.nick  || @user.isAdmin  %>
          <button class="btn btn-danger"> <%= link_to 'Edit ', edit_group_path(group) %></button>
          <button class="btn btn-danger"><%= link_to 'Destroy ', group, method: :delete, data: { confirm: 'Are you sure?' } %></button>
            <% end %>
        </li>
    <% end %>

  </ul>
<br>
<div class="text-center"
  <button class="btn btn-success center"><%= link_to 'New Group', new_group_path %></button>
  </div>
  <% else %>
  <h1>Access denied!</h1>
<% end %>