<div class="container-fluid">

<p id="notice"><%= notice %></p>
  <h2>Add a list!</h2>
  <%= form_for([@group, @group.lists.build]) do |f| %>
    <p>
      <%= f.label :title %> <br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.submit %>
    </p>

  <% end %>
  <h2>Lists:</h2>
  <% unless @group.lists.empty? %>
    <% @listsOrder = @group.lists.order(created_at: :desc) %>
  <% @listsOrder.each do |elem| %>
    <p><strong><%= elem.title %></strong></p>
    <p><%= elem.body %></p>
      </p>
    <%= link_to 'Delete list', [elem.group, elem], method: :delete,
                data: {confirm: "Are you sure?"} %>

      <%= link_to 'Update list', edit_group_list_path(@group,elem)%>

    <% end %>
    <% end %>
<p>
  <%= @group.name %>
  <%= link_to 'Edit', edit_group_path(@group) %> |
  <%= link_to 'Back', groups_path %>
  <%= link_to "Download CSV", group_path(@group, format: :csv) %>
  <%= link_to "Download PDF", group_path(@group, format: :pdf) %>
  <%= link_to "Delete", @group, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
  <%= form_tag group_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <% if !@users.blank? %>
    <% @users.each do |user| %>
      <p><%= user.nick %></p>
      <p><%= user.email %></p>
      <p> <%= link_to "Add to group", group_path(:group_id => @group.id, :user_id => user.id), :method => :put %></p>
    <% end %>
    <% else %>
  <h1>Find user!</h1>
    <% end %>

</div>