<div class="container-fluid">


<p id="notice"><%= notice %></p>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>
  <h2 class="text-left  ">Products:</h2>
  <h2 class="text-left">Name     Amount</h2>
  <% unless @group.lists.empty? %>
    <% @listsOrder = @group.lists.order(created_at: :desc) %>
  <% @listsOrder.each do |elem| %>
    <div class="form-group" >
      <% if elem.status == true %>
        <del>
          <p>
        <%= elem.name%>
        <%= elem.amount%>
          </p>
        </del>
        <% else %>
        <p>
          <label for="title"><%= elem.name%></label>
          <label for="amount"><%= elem.amount%></label>
        </p>
        <% end %>
    </div>

      <button class="btn btn-danger"> <%= link_to 'Bought?', [elem.group, elem], method: :delete%></button>
      <button class="btn btn-info"><%= link_to "Didn't bought?", toogle_status_group_list_path(elem.group, elem), method: :put %></button>
    <button class="btn btn-info"> <%= link_to 'Edit Product', edit_group_list_path(@group,elem)%></button>

<% end %>
    <% end %>
  <br>
  <br>
<p>
  <br>
  <br>
      <button class="btn btn-info">   <%= link_to "Download CSV", group_path(@group, format: :csv) %></button>
      <button class="btn btn-info">   <%= link_to "Download PDF", group_path(@group, format: :pdf) %></button>
      <button class="btn btn-info">   <%= link_to "Deliver email", deliver_now_group_path(@group) %></button>

  <% if @group.created_by == @user.nick  || @user.isAdmin %>

<button class="btn btn-danger"> <%= link_to "Delete group", @group, method: :delete, data: { confirm: 'Are you sure?' } %></button>
    <% end %>
</p>
  <h2 class="text-left">Add a product!</h2>
  <div class="left">
    <%= form_for([@group, @group.lists.build]) do |f| %>
      <p>
        <%= f.label :name %> <br>
        <%= f.text_field :name, size: "35x2" %>
      </p>
      <p>
        <%= f.label :amount %><br>
        <%= f.number_field :amount%>
      </p>
      <p>
        <%= f.submit "Add product", :class => "btn btn-success"%>
      </p>

    <% end %>
  </div>
  <br>
  <h2 class="text-left">Assign a user to a group.</h2>
  <%= form_tag group_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search for a user", :class => "btn btn-success", :name => nil %>
    </p>
  <% end %>
  <% if !@users.blank? %>
    <% @users.each do |user| %>
      <p><%= user.nick %></p>
      <p><%= user.email %></p>
      <p> <%= link_to "Add to group", group_path(:group_id => @group.id, :user_id => user.id), :method => :put %></p>
    <% end %>
    <% else %>
    <% end %>

</div>
<br>
<br>
<br>

<button class="btn-primary btn" id="toExpend" style="visibility: visible">Click to expend</button>
<br>
<button class="btn-primary btn" id="toHide2" style="visibility: hidden">Click to hide</button>

<br>
<br>
<br>
<div class="container-fluid" id="toHide" style="visibility: hidden">
<% @userList.each do |user| %>
  <p><%= user.nick%></p>
    <p><%= user.email%></p>
    <p>
      <button class="btn btn-danger">
        <%= link_to "Delete from group", delete_user_group_path(@group, :user_id => user.id), :method => :put %>
      </button>
    </p>
  <% end %>
</div>
<script>
$("#toExpend").click(function()
    {
        $("#toHide").css("visibility", "visible")
        $("#toExpend").css("visibility", "hidden")
        $("#toHide2").css("visibility", "visible")
    }
)
$("#toHide2").click(function()
    {
        $("#toHide").css("visibility", "hidden")
        $("#toExpend").css("visibility", "visible")
        $("#toHide2").css("visibility", "hidden")
    }
)
</script>